swiper-v {
    position: relative;
    display: block;
    height: 100%;
    [swiperTop],
    [swiperBottom] {
        visibility: hidden;
        opacity: 0;
        &.shown {
            visibility: visible;
            opacity: 1;
        }
    }
    [swiperBody] {
        height: 100%;
    }
}