swiper-v {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    [swiperTop],
    [swiperBottom] {
        height: 80%;
        visibility: hidden;
        opacity: 0;
        &.shown {
            visibility: visible;
            opacity: 1;
        }
    }
    [swiperBody] {
        flex: 1;
        height: 100%;
    }
}