swiper-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    swiper {
        display: block;
        background: #fff;
    }
    [swiperLeft],
    [swiperRight] {
        background: #fff;
    }
    [swiperTop],
    [swiperBottom] {
        background: #fff;
    }
}