swiper-layout {
    display: block;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    swiper {
        display: block;
        background: #fff;
    }
    [swiperLeft],
    [swiperRight] {
        background: #fff;
    }
    [swiperTop],
    [swiperBottom] {
        background: #fff;
    }
}