<swiper-h [offset]="offset" (init)="onHInit($event)" (onEnd)="onHEnd($event)">
    <div *ngIf="hasLeft" swiperLeft>
        <ng-content select="[left]"></ng-content>
    </div>
    <div swiperCenter>
        <swiper-v (init)="onVInit($event)" [offset]="offset" (onEnd)="onVEnd($event)">
            <div *ngIf="hasTop" swiperTop>
                <ng-content select="[top]"></ng-content>
            </div>
            <div swiperBody>
                <ng-content></ng-content>
            </div>
            <div *ngIf="hasBottom" swiperBottom>
                <ng-content select="[bottom]"></ng-content>
            </div>
        </swiper-v>
    </div>
    <div *ngIf="hasRight" swiperRight>
        <ng-content select="[right]"></ng-content>
    </div>
</swiper-h>